<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
    
    <title>生活不止眼前的苟且</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <meta name="keywords" content="">
    <link rel="shortcut icon" href="/">
    <link rel="stylesheet" href="/css/style.css?v=1.2.6">
    
    <script type="text/javascript">
        // Data Center
        var DC = {
            reward:	true,
            lv: JSON.parse('{"enable":false,"app_id":null,"app_key":null,"icon":true}'),
            v: JSON.parse('{"enable":false,"appid":null,"appkey":null,"notify":true,"verify":true,"placeholder":"give me some sugers plz...","avatar":"wavatar"}'),
            g: JSON.parse('{"enable":false,"lazy":true,"owner":"codefine","repo":"gitment","oauth":{"client_id":null,"client_secret":null},"perPage":10}')
        };
    </script>
    <script type="text/javascript">
        window.lazyScripts=[];
    </script>
</head>


<body>
    <div id="loading" class="active"></div>

    <aside id="menu" class="hide" >
  <div class="inner flex-row-vertical">
    <a href="javascript:;" class="header-icon waves-effect waves-circle waves-light" id="menu-off">
        <i class="icon icon-lg icon-close"></i>
    </a>
    <div class="brand-wrap">
      
      <img src="/img/brand.jpg" class="brand-bg">
      
      <div class="brand">
        <a href="/" class="avatar waves-effect waves-circle waves-light">
          <img src="/img/avatar.png">
        </a>
        <hgroup class="introduce">
          <h5 class="nickname">AmandaYi</h5>
          <a href="mailto:891177434@qq.com" title="891177434@qq.com" class="mail">
            
              <span>8</span>
            
              <span>9</span>
            
              <span>1</span>
            
              <span>1</span>
            
              <span>7</span>
            
              <span>7</span>
            
              <span>4</span>
            
              <span>3</span>
            
              <span>4</span>
            
              <span>@</span>
            
              <span>q</span>
            
              <span>q</span>
            
              <span>.</span>
            
              <span>c</span>
            
              <span>o</span>
            
              <span>m</span>
            
          </a>
        </hgroup>
        
        <ul class="menu-link">
          
              <li>
                <a href="https://github.com/AmandaYi" target="_blank">
                  <i class="icon icon-lg icon-github"></i>
                </a>
              </li>
            
        </ul>
        
      </div>
    </div>
    <div class="scroll-wrap flex-col">
      <ul class="nav">
        
            <li class="">
              <a href="/"  >
                <i class="icon icon-lg icon-home"></i>
                首页
              </a>
            </li>
        
            <li class="">
              <a href="/categories"  >
                <i class="icon icon-lg icon-th-list"></i>
                分类
              </a>
            </li>
        
            <li class="">
              <a href="/tags"  >
                <i class="icon icon-lg icon-tags"></i>
                聚合
              </a>
            </li>
        
            <li class="">
              <a href="/archives"  >
                <i class="icon icon-lg icon-archives"></i>
                博文
              </a>
            </li>
        
            <li class="">
              <a href="/about"  >
                <i class="icon icon-lg icon-user"></i>
                关于
              </a>
            </li>
        
            <li class=" active">
              <a href="/tool"  >
                <i class="icon icon-lg icon-wrench"></i>
                小工具
              </a>
            </li>
        
      </ul>
    </div>
  </div>
</aside>

    <main id="main">
        <header class="top-header" id="header">
    <div class="flex-row clearfix">
        <a href="javascript:;" class="header-icon pull-left waves-effect waves-circle waves-light on" id="menu-toggle">
          <i class="icon icon-lg icon-navicon"></i>
        </a>
        <div class="flex-col header-title ellipsis">
            <span></span>
            
        </div>
        
        <a href="javascript:;" id="site_search_btn" class="header-icon pull-right waves-effect waves-circle waves-light">
            <i class="icon icon-lg icon-search"></i>
        </a>
        
    </div>
</header>
<header class="content-header page-header">
    <img src="/img/banner.jpg" class="header-bg">
    <div class="container fade-scale">
        <h1 class="title"></h1>
        <h5 class="subtitle">
            
        </h5>
        
    </div>
    

</header>

<div id="site_search">
    <div class="search-title clearfix">
        <span class="pull-left">
          <i class="icon icon-lg icon-search"></i>
        </span>
        <input type="text" id="local-search-input" name="q" results="0" placeholder="search my blog..." class="form-control pull-left"/>
        <a href="javascript:;" class="close pull-right waves-effect waves-circle waves-light">
          <i class="icon icon-lg icon-close"></i>
        </a>
    </div>
    <div id="local-search-result"></div>
</div>


<div class="container body-wrap">
    <article class="page-article fade" itemprop="blogPage">
        <div class="post-content page-content" id="page-content" itemprop="pageContent">
            
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>大小写转换</title>
	<style>
		html,body{
			padding: 0;
			margin: 0;
			width: 100%;
			height: 100%;
			font-size: 25px;
			color: #000;
			font-family: "Microsoft Yahei";
		}
		div {
			width: 90%;
			height: 100%;
			margin: 0 auto;
			box-sizing: border-box;

		}
		fieldset {
			width: 45%;
			height: 90%;
			float: left;
		}
		textarea {
			margin: 0;
			padding: 0;
			width: 100%;		
			height: 90%;
			float: left;
			margin: 0 auto;
			font-size: 18px;
		}
		textarea.textareaLow {
			border: 2px solid #000;
		}
		textarea.textareaUpp {
			border: 2px solid #000;
		}
		textarea::after{
			content: '';
			display: block;
			visibility: hidden;
			height: 0;
			clear: both;
		}
	</style>
</head>
<body ng-app="WordsTg">
<div ng-controller="TgController">
 <fieldset>
  	<legend>小写文本框</legend>
	<textarea ng-model="textLow" ng-change="trans1()" ng-blur="trans1()" ng-keydown="trans1()" class="textareaLow"></textarea>  
	</fieldset>
	 <fieldset>
  	<legend>大写文本框</legend>
	<textarea ng-model="textUp" ng-change="trans2()" ng-blur="trans2()" ng-keydown="trans2()" class="textareaUpp"></textarea> 
	</fieldset>
</div>	
<script src="https://cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
	<script>
		angular.module('WordsTg',[]).controller('TgController',['$scope',function($scope){
 				$scope.trans1 = function () {

	 				$scope.textUp = angular.uppercase($scope.textLow);
 				}
 				$scope.trans2 = function () {

	 				$scope.textLow = angular.lowercase($scope.textUp);
	 			} 
		}])
	</script>
</body>
</html>
        </div>
        
        
        
        <div class="card page-about-me flex-row">
            <a href="/" class="avatar waves-effect waves-circle waves-light"><img src="/img/avatar.png"></a>
            <div class="content flex-col">
                <p><strong>AmandaYi</strong></p>
                <p><em></em></p>
                <p></p>
            </div>
            <div class="page-share-wrap">
    

<div class="page-share" id="pageShare">
    <ul class="reset share-icons">
      
      <li>
        <a class="weibo share-sns" target="_blank" href="http://service.weibo.com/share/share.php?url=https://amandayi.github.io/tool/1.html&title=生活不止眼前的苟且&pic=https://amandayi.github.io/img/avatar.png" data-title="微博">
          <i class="icon icon-weibo"></i>
        </a>
      </li>
      
      <li>
        <a class="weixin share-sns wxFab" href="javascript:;" data-title="微信">
          <i class="icon icon-weixin"></i>
        </a>
      </li>
      
      <li>
        <a class="qq share-sns" target="_blank" href="http://connect.qq.com/widget/shareqq/index.html?url=https://amandayi.github.io/tool/1.html&title=生活不止眼前的苟且&source=" data-title=" QQ">
          <i class="icon icon-qq"></i>
        </a>
      </li>
      
    </ul>
 </div>



    <a href="javascript:;" id="shareFab" class="page-share-fab waves-effect waves-circle">
        <i class="icon icon-share-alt icon-lg"></i>
    </a>
</div>

        </div>
        
        
        <div class="card">   
           


        </div>
        
    </article>
    
</div>

        <footer class="footer">
    
    <div class="bottom">
        <p>
            <span>
                AmandaYi &copy; 2017 - 2018
            </span>
        		
           	
            
            
            
            
        </p>
    </div>
</footer>

    </main>
    <div class="mask" id="mask"></div>
<a href="javascript:;" id="gotop" class="waves-effect waves-circle waves-light"><span class="icon icon-lg icon-chevron-up"></span></a>



<div class="global-share" id="globalShare">
    <ul class="reset share-icons">
      
      <li>
        <a class="weibo share-sns" target="_blank" href="http://service.weibo.com/share/share.php?url=https://amandayi.github.io/tool/1.html&title=生活不止眼前的苟且&pic=https://amandayi.github.io/img/avatar.png" data-title="微博">
          <i class="icon icon-weibo"></i>
        </a>
      </li>
      
      <li>
        <a class="weixin share-sns wxFab" href="javascript:;" data-title="微信">
          <i class="icon icon-weixin"></i>
        </a>
      </li>
      
      <li>
        <a class="qq share-sns" target="_blank" href="http://connect.qq.com/widget/shareqq/index.html?url=https://amandayi.github.io/tool/1.html&title=生活不止眼前的苟且&source=" data-title=" QQ">
          <i class="icon icon-qq"></i>
        </a>
      </li>
      
    </ul>
 </div>


<div class="page-modal wx-share" id="wxShare">
    <a class="close" href="javascript:;"><i class="icon icon-close"></i></a>
    <p>扫一扫，分享到微信</p>
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAK4AAACuCAAAAACKZ2kyAAAByElEQVR42u3aS27DMAwFQN//0inQVRdx+khKqlGMVkaRyJMuCP6uKz6v7/Pz+e5Uv3vtOLi4uGNu8vrkLzno822/3ICLi3uQ2wtAn69OfnBuwMXFfSb37vNJwMLFxf3f3Co6SYBwcXGfyc2DTq/4yROgZbUaLi7utKtZbpiufd7e38XFxV00lUhaHkkLtfeuN2/HxcU9wu0VJEmikzRMmzfj4uJu5k4KkrVtkXKehYuLe4RbXZjolU/V5YzbQIaLi3uEW128SEqg6jh22cwHFxd3zM0XsJLw13uOBjm4uLgHueUFiLiMyUewo3kOLi7uUm5vtaIagPJ/SjMvw8XF3cbNF60m6xTVdy24AhcXd5BRVNsZ1eQmT3qi8IeLi3uEmycl1eZpbyQTlUa4uLgbuHnRMh+XVgPZm8/j4uL+ETdBrypg8vEMLi7uSW4edHqhqto0KSRDuLi427iv4qnWVb2Qd/stXFzcI9zJzkMzNVm0/IGLi7ubW12kyJOYakMkaqbg4uIe5FYDTd4wnRQ/uLi4z+fmaxlVSqHowsXFfTx3MqxtNkFwcXEPcqvFT45IAl9zTRMXF3cbd94wTXD5mHZeOOHi4g64X4JTM9IgLV85AAAAAElFTkSuQmCC" alt="微信分享二维码">
</div>


    
    <!-- main-js -->
<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/plugins/fastclick.js?v=1.2.6"></script>

<script type="text/javascript" src="https://cdn.bootcss.com/node-waves/0.7.4/waves.min.js"></script>

<script type="text/javascript" src="/js/method.js?v=1.2.6"></script>
<script type="text/javascript" src="/js/blog.js?v=1.2.6"></script>

<!-- third-party -->





<script type="text/javascript" src="/js/plugins/local_search.js?v=1.2.6"></script>
<script type="text/javascript">
	var search_path = "search.xml";
	if (search_path.length === 0) {
		search_path = "search.xml";
	}
	var path = "/" + search_path;
	searchFunc(path, "local-search-input", "local-search-result");
</script>



    
    





    <!-- mathjax config similar to math.stackexchange -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"]  ],
            processEscapes: true,
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
        }
    });
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for (i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>

<script type="text/javascript" src="//cdn.bootcss.com/mathjax/2.7.1/latest.js?config=TeX-AMS-MML_HTMLorMML"></script>




    
</body>
</html>
